/*Custom by Hanh*/
.widget_price_filter .ui-slider .ui-slider-handle, .product_item .kad_add_to_cart:hover, .product_item:hover a.button:hover, .product_item:hover .kad_add_to_cart:hover, .kad-btn-primary, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a, .product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a, .wpcf7 input.wpcf7-submit, .yith-wcan .yith-wcan-reset-navigation, #containerfooter .menu li a:hover, .bg_primary, .portfolionav a:hover, .home-iconmenu a:hover, p.demo_store, .topclass, #commentform .form-submit #submit, .kad-hover-bg-primary:hover, .widget_shopping_cart_content .checkout, .login .form-row .button, .kad-post-navigation .kad-previous-link a:hover, .kad-post-navigation .kad-next-link a:hover, .cart_totals .checkout-button, .wpcf7 input.wpcf7-back, .variations .kad_radio_variations label.selectedValue, #payment #place_order, .shop_table .actions input[type=submit].checkout-button, .order-actions .button s {
    background: #df0000;
}
@media (min-width: 992px) {
	.main.col-lg-9.col-md-8 {
		display: table-footer-group;
		float: right;
	}
	aside.col-lg-3.col-md-4.kad-sidebar {
		display: table-header-group;
		float: left;
	}
}
#search {
  padding: 20px;
  background: rgb(225,225,225);
  background: rgba(225,225,225,0.75);
}
input#location, input#month, input#year {
    width: 100%;
	border: 1px solid #dedede;
    border-left-color: #c1c2c1;
    border-top-color: #c1c2c1;
    background-color: #FFF;
    box-shadow: 0 1px 0 rgba(255,255,255,.8),inset 0 0 1px rgba(0,0,0,.2);
    /*border-radius: 4px;*/
    height: 43px;
}
input#timkiem {width: 100%;font-size: 20px;}
p.search-title {
    margin: 0 0 2px;
}
section.intro-bg {
    background-color: #f9f9f9;
    padding: 15px;
}
.container.intro {
    text-align: center;
}
.container.popular {
    padding-top: 30px;
}
.float-left {float:left;}
.float-right {float:right;}
img.popular-img {
    width: 263px;
    height: 174px;
}
.school-list {
    margin-top: 20px;
}
#containerfooter {
    padding-top: 0!important;
	    margin-top: 50px;
}
.footerc#df0000its {
    color: #666!important;
}
section.why-join-us-bg {
    margin-top: 90px;
    border-top: 1px solid #e2e2e2;
}
.why-join-us-bg img {
    margin-top: 5px;
}
.contentclass {
    padding-top: 0!important;
}

li.menu-tao-ho-so:after {
    font-family: 'FontAwesome';
    content: "\f0da";
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
}
li.menu-tao-ho-so a, li.menu-tao-ho-so a:hover {
    color: #fff!important;
    display: inline-block;
    padding:15px 8px 15px 15px;
    font-size: 18px!important;
}
#menu-primary-navigation li {
    width: 122px;
}
#menu-primary-navigation li.menu-cach-tao-ho-so {
    width: 110px;
}
li.menu-tao-ho-so {
    background-color: #df0000!important;
	margin-top: 5px;
	width: 135px!important;
}
#menu-primary-navigation li.current-menu-item.current_page_item {
    border-bottom: 1px solid #df0000;
}
#menu-primary-navigation li.current-menu-item.current_page_item a {
    color: #df0000;
}
.job_types span.dashicons {
    margin-top: -7px;
}
.job_types label {
	font-weight:normal;
	font-size: 14px;
}
span.type-count {
    float: right;
}
.title_filter_by_tag {
    background-color: #df0000;
    margin: -10px -10px 0;
    padding: 5px 15px;
    color: #fff;
}

.title_filter_by_keyword {
    background-color: #df0000;
    margin: 1px -14px;
    padding: 5px 15px;
    color: #fff;
}
.title_filter_by_price:after, .title_filter_by_type:after, .title_filter_by_keyword:after, .title_filter_by_tag:after {
    font: normal normal normal 17px/1 FontAwesome;
    content:"\f107";
    float: right;
}
.title_filter_by_price {
    background-color: #df0000;
    margin: 0 -14px;
    padding: 5px 15px;
    color: #fff;
}
.title_filter_by_type {
    background-color: #df0000;
    margin: 1px 0;
    padding: 5px 15px;
    color: #fff;
}

.title_filter_by_price.highlight, .title_filter_by_type.highlight, .title_filter_by_keyword.highlight, .title_filter_by_tag.highlight {
    color: #444;    background-color: #e2e2e2; 
}
.title_filter_by_price.highlight:after, .title_filter_by_type.highlight:after, .title_filter_by_keyword.highlight:after, .title_filter_by_tag.highlight:after {
    font: normal normal normal 17px/1 FontAwesome;
    content: "\f105";
    float: right;
}
/*Hiển thị count cho hàm wp_tag_cloud*/
.filter_by_tag_cloud a[title]:after{
 content: attr(title);
 float:right;
}
/*Hiển thị count cho hàm wp_tag_cloud*/
span.filter_by_tag_cloud a {
    display: block;
	padding-left: 25px!important;
}
.job_filters .search_jobs .filter_by_tag a,
.job_filters .filter_by_tag a {
	background: url(../../img/uncheck.jpg) no-repeat no-repeat left center!important;
	/*text-decoration: none;*/
}
.job_filters .search_jobs .filter_by_tag a.active,
.job_filters .filter_by_tag a.active {
	background: url(../../img/checked.jpg) no-repeat no-repeat left center!important;
	/*text-decoration: none;*/
}
.job_filters .search_jobs .filter_by_tag a:hover,
.job_filters .filter_by_tag a:hover {
	text-decoration: none!important;
}
#containerfooter,.footerclass a  {color: #555!important;}
#containerfooter h3 {
    color: #555!important;
	font-size: 20px!important;
}
#containerfooter {
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
}
section.listschool {
    border-top: 1px solid #e5e5e5;
	padding-bottom: 10px;
	background-color: #e5e5e5;
}
section.footter-navigation {
    background: url(../../img/japan-banner.jpg) no-repeat right bottom; 
	padding-bottom: 20px;
}
section.duhocnhatban-intro {
    border-top: 1px solid #e2e2e2;
	text-align:center;
	padding: 10px 0;
	border-bottom: 1px solid #e2e2e2;
}
.container.banquyen {
    text-align: center;
}	
.flogo img {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
#containerfooter .menu {
    margin: 0!important;
}
#containerfooter .menu li a {
    padding: 0!important;
    max-width: 100%!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
	background: none!important;
}
#containerfooter .menu li a:hover {
	background: none!important;
}
input[type=radio].job-manager-filter {
    width: auto!important;
}
span.xephang {
    display: block;
}
.search_level,.search_salary {
    margin: 0 -14px;
}
.search_level ul li span.shortcode-star-rating, .search_level ul li span.type-count, .search_salary  ul li span.shortcode-star-rating{
    font-size: 14px;
}
.search_region {
    padding-top: .5em;
	margin-bottom: 15px;
}
.atoggle {
cursor: pointer;
}

.login-username input[type="text"],
.login-password input[type="password"],
#registerform input[type="text"],
#registerform input[type="password"],
#registerform input[type="email"],
.cleanlogin-form input[type="text"],
.cleanlogin-form input[type="password"],
.cleanlogin-form input[type="email"],
.search_keywords input[type="text"],
.search_location input[type="text"],
.user_form input[type="text"],
.ab-submenu  input[type="text"],
.ab-submenu  input[type="password"] {
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #fff;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 18px;
    padding-right: 18px;
    height: 46px;
    padding: 12px 18px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 100%;
}
.search_salary select,
.search_level select,
.select-style select,
.currency-field select,
.fieldset-job_type .field.requi#df0000-field select,
.fieldset-job_level .field.requi#df0000-field select,
.fieldset-job_language .field.requi#df0000-field select,
.fieldset-job_times .field.requi#df0000-field select,
.fieldset-company_tagline .field select,
.fieldset-ho-so-san-co .field select,
.fieldset-status .field select,
.resume_filters .search_resumes div.resume-filter.search_location select {
    padding: 5px 16px;
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-group .select-style select,
.form-group .select-style select,
.fsearch_categories .select-style select,
.fsearch_location .select-style select {
	width: 100%;
    border: 1px solid #dedede;
    border-left-color: #c1c2c1;
    border-top-color: #c1c2c1;
    background-color: #FFF;
    box-shadow: 0 1px 0 rgba(255,255,255,.8),inset 0 0 1px rgba(0,0,0,.2);
    border-radius: 0!important;
    height: 43px;
}
.search_salary select, .search_level select, .select-style select, .currency-field select, .fieldset-job_type .field.required-field select, .fieldset-job_level .field.required-field select, .fieldset-job_language .field.required-field select, .fieldset-job_times .field.required-field select, .fieldset-company_tagline .field select, .fieldset-ho-so-san-co .field select, .fieldset-status .field select, .resume_filters .search_resumes div.resume-filter.search_location select {
    padding: 5px 16px;
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-style:after, .currency-field:after, .fieldset-job_type .field.required-field:after, .fieldset-job_level .field.required-field:after, .fieldset-job_language .field.required-field:after, .fieldset-job_times .field.required-field:after, .fieldset-company_tagline .field:after, .fieldset-ho-so-san-co .field:after, .fieldset-status .field:after, .resume_filters .search_resumes div.resume-filter.search_location:after {
    content: "\f107";
    display: block;
    position: absolute;
    right: 15px;
    top: 33px;
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #c72c00;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}
.fsearch-btn.button {
	padding: 13px 18px;
}
.search_salary select,
.search_level select {
	padding: 5px;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	font-size:14px!important;
	font-family: "Open Sans";
}


#job_currency, .resume_filters .search_resumes div.resume-filter.search_location select {
	padding: 5px 35px;
	height: 44px!important;
	border-radius: 0px!important;
}
.chosen-container-multi .chosen-choices {
    border: 1px solid #ebebeb!important;
    background-image: none!important;
    background-image: none!important;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {padding:12px 5px!important;}
.chosen-container-multi .chosen-choices li.search-choice, .chosen-container-multi .chosen-choices li.search-field {line-height: 30px!important;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close, .chosen-container-multi .chosen-choices li.search-field  .search-choice-close{
    top: 13px!important;
}
.chosen-container-multi .chosen-choices {
	border: 1px solid #ebebeb!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
}
.search_keywords input[type="text"], .search_location input[type="text"] {
    padding-left: 5px;
    padding-right: 5px;
}
div.position {padding: 0!important; width: 100%!important;}
.content .shortcode-star-rating span.dashicons,.comment-rating .shortcode-star-rating span.dashicons{font-size:100%!important;}
@media only screen and (max-width: 767px) {
	.listing-img {
		display:none;
	}
	ul.job_listings li.job_listing {min-height:auto;}
}
ul.job_listings li.job_listing .listing-img a {padding:0;margin-left: -8px;}
ul.job_listings li.job_listing .listing-img a img.company_logo{position: inherit;padding: 0;}
ul.job_listings li.job_listing .listing-img img {
	width:200px!important;
	height:200px!important;
}
.school-title {padding:0;}
ul.job_listings {border-top:none!important;}
ul.job_listings li.job_listing {min-height:210px;margin: 0 0 10px 0!important;}
ul.job_listings li.job_listing .listing-content a {padding: 0;color:#444;}
ul.job_listings li.job_listing .khuvuc a {
    display: inline-block;
    padding: 0!important;
    line-height:1;
}
.meta li.job-type {list-style-type: none;}
.listing-footer {
    background-color: #F8F8F8;
    padding: 10px 0;
    min-height: 62px;
}
.margin-right-15 {margin-right:-15px;}
.col-md-8.listing-content {
    min-height: 117px;
	font-size:13px;
}
.col-md-9.listing-content a{
    min-height: 200px;
}
.listing-banner {font-size:13px}
.ngungnhan {
    color: #df0000;
    font-weight: 600;
}
span.hocphi {
    font-size: 18px;
    font-weight: 600;
    color: #9436D4;
}
.col-md-4.custom-rating .diem {
    color: #0283DF;
    font-size: 20px;
    display: block;
    text-align: right;
    font-weight: 600;
}
.col-md-4.custom-rating .baseon {text-align: right;display: block;line-height:25px;font-size:13px;}
.col-md-4.custom-rating .rateit.bigstars.yasr_visitor_votes_stars_div {
    display: none;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.commentrating.star01,.commentrating.star02,.commentrating.star03,.commentrating.star04 {
border-right: 1px solid #ccc;
}
.star1:after {
    content: "★";
	color:#fa3700;
}
.star2:after {
    content: "★★";
	color:#fa3700;
	
}
.star3:after {
    content: "★★★";
	color:#fa3700;
}
.star4:after {
    content: "★★★★";
	color:#fa3700;
}
.star5:after {
    content: "★★★★★";
	color:#fa3700;
}

.cc-selector input:active +.ratingstar-cc{opacity: .9;}
.cc-selector input:checked +.ratingstar-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.ratingstar-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100%;height:13px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.9);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.9);
            filter: brightness(1.8) grayscale(1) opacity(.9);
}
.ratingstar-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.commentrating {
    display: inline-block;
	padding: 0 5px;
}

ul.job_listings li.job_listing a {
	padding:0!important;
}
.dangtuyen,.available {
    color:#0283DF;
}
.nophoso {
    color: #0a9c4b;
}
.intro-bg h1{
    color:#df0000;
    font-weight: 400;
}
h3.home-all-scholl-link, h3.home-all-scholl-link a {
    text-align: center;
    color: #fff;
}
h3.home-all-scholl-link:after {
    font-family: 'FontAwesome';
    content: "\f0da";
    margin-left: 10px;
    color: #df0000;
}
.single_job_listing .company {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
    box-shadow: none!important;
}
.single_job_listing .company .name {
    margin: 0!important;
    padding: 0!important;
}
h3.tieude {
    background-color: #e2e2e2;
    padding: 0 15px;
}
.style2 td {
    background: #eee;
    border-bottom: 1px solid #fff;
}
span.category-count {
    float: right;
}
.listing-content i.fa {
    width: 10px;
}
.single_job_listing i.fa {
    width: 25px;
}
.khuvuc,.co-dhs,.khong-dhs,.co-ktx,.khong-ktx,.gioithieu-ktx,.capnhat-ktx {
    display: inline-block;
    margin-left: 10px;
}
.job_description img.aligncenter.size-full {
    width: 100%;
}
span.filter_by_tag_cloud a {
    font-size: 1em!important;
}
div.job_listings .load_more_jobs, div.job_listings .load_more_jobs:focus, div.job_listings .load_more_jobs:hover {
    background-color: #fff!important;
    border-bottom: none!important;
}
.tableStyle04 td {
    text-align: left;
    vertical-align: top;
    background-color: #fff;
    padding: 5px;
}
.tableStyle04 th.center {
    vertical-align: middle;
    text-align: center;
}
.tableStyle04 th {
    text-align: left;
    vertical-align: top;
    background-color: #ededed;
    padding: 5px;
}
.small {
    font-size: 80%;
    font-weight: normal;
}
.form-caption, #theme-my-login {
    border: 1px solid #e1e1e1;
    padding: 5px;
}
.form-title, .form-title h2 , .form-title h1{
    background-color: #555;
    color: #fff;
    padding: 5px;
	margin-bottom: 10px;
}
.form-title h2, .form-title h1 {
    padding: 0;
    margin-bottom: 0;
	margin-top:0;
}
.head-title  {
    font-weight: 600;
}
h2.head-title, h1.head-title{
	font-family: "Open Sans";
    line-height: 1.42857143;
    font-style: normal;
    font-size: 14px;
}
.sub-title {
    font-size: 12px;
}

.contactform label, .myprofile label, #loginform label, #lostpasswordform label, #resetpasswordform label, #your-profile label {
    font-weight: 400;
    width: 29%;
    display: inline-block!important;
}
#registerform input.full,
#your-profile input.full,
.clearfix input.full,
#loginform input.input,
#lostpasswordform  input.input,
#resetpasswordform  input.input,
#your-profile input.full{
    width: 100%;
    padding: 8px!important;
    height: auto;
    border: 1px solid #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    max-width: 570px;
}
#your-profile table.form-table label {
width:100%;
}
#your-profile .form-table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 150px;
}
#your-profile .form-table td {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 8px 10px;
}
#loginform p, #lostpasswordform p, #resetpasswordform p, #your-profile p {
    border-bottom: 1px solid #e7e8e9;
    padding-bottom: 10px;
}
#loginform p.submit, #lostpasswordform p.submit, #resetpasswordform p.submit, #your-profile p.submit {
    text-align: center;
    border-bottom: none;
}
#loginform #wp-submit, #lostpasswordform #wp-submit, #resetpasswordform #wp-submit {
    padding: 12px 18px;
    font-size: 12px;
    border: none;
    display: inline-block;
    color: #fff;
    background: #c72c00;
    transition: background .6s ease-out;
    -webkit-transition: background .6s ease-out;
    -moz-transition: background .6s ease-out;
    -o-transition: background .6s ease-out;
}
p.tag-label {
    width: 29%;
    display: inline-block;
}
@media (max-width: 1182px){
p.tag-label,.contactform label, .myprofile label, #loginform label, #lostpasswordform label, #resetpasswordform label, #your-profile label  {
    width: 100%;
}
}
.contactform  .tag-label label {width:100%;    float: left;}
.kad-btn, #commentform .form-submit #submit, .cart_totals .checkout-button {
    font-size: 18px!important;
}
.contactform p.message {
    padding: 5px;
    border: 1px solid #e6db55;
    background-color: #ffffe0;
    color: #333;
}
#login #loginform label{width:100%;}
.btn3d {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 8px 0 #1a74a1, 0 15px 20px rgba(0,0,0,.35);
    -moz-box-shadow: 0 8px 0 #1a74a1, 0 15px 20px rgba(0,0,0,.35);
    box-shadow: 0 8px 0 #1a74a1, 0 15px 20px rgba(0,0,0,.35);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

.btn3d span {
    display: inline-block;
    padding: 10px 20px;
    font-family: "cooper-black-std-1", "cooper-black-std-2", Helvetica, Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    background: #3194c6;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
    background: -moz-linear-gradient(#3194c6, #5bacd6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
.btn3d:active {	
  -webkit-box-shadow: 
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  box-shadow: 
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
}

.btn3d:active span {	
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
a.btn3d {
    color: #fff;
    font-size: 25px;
}
a.btn3d:hover {
	color: #fff;
}
/*Form Wizard*/
.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
}

ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 9;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 9;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }
.checkout-bar li.last.active:after {
	width: 69%;
	border-radius: 15px;
}

  .checkout-wrap {
    margin: 10px auto 80px;
	padding-bottom: 20px;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}
@font-face{
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.a-btn{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    padding:10px 30px 10px 70px;
    position:relative;
    float:left;
    display:block;
    overflow:hidden;
    margin:10px;
    background:#fff;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0),color-stop(rgba(246,246,246,1),0.74),color-stop(rgba(237,237,237,1),1));
    background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    -webkit-box-shadow:0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -webkit-transition:box-shadow 0.3s ease-in-out;
    -moz-transition:box-shadow 0.3s ease-in-out;
    -o-transition:box-shadow 0.3s ease-in-out;
    transition:box-shadow 0.3s ease-in-out;
}
.a-btn-symbol{
    font-family:'WebSymbolsRegular', cursive;
    color:#555;
    font-size:20px;
    text-shadow:1px 1px 2px rgba(255,255,255,0.5);
    position:absolute;
    left:20px;
    line-height:32px;
    -webkit-transition:opacity 0.3s ease-in-out;
    -moz-transition:opacity 0.3s ease-in-out;
    -o-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
}
.a-btn-text{
    font-size:20px;
    color:#c72c00;
    line-height:16px;
    font-weight:bold;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
    text-shadow:1px 1px 2px rgba(255,255,255,0.5);
    display:block;
}
.a-btn-slide-text{
    font-family:Arial, sans-serif;
    font-size:10px;
    letter-spacing:1px;
    text-transform:uppercase;
    color:#555;
    text-shadow:0px 1px 1px rgba(255,255,255,0.9);
}
.a-btn-slide-icon{
    position:absolute;
    top:-30px;
    width:22px;
    height:22px;
    background:transparent url(../../img/arrow_down_black.png) no-repeat top left;
    left:20px;
    opacity:0.4;
}
.a-btn:hover{
    background:#fff;
    -webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.a-btn:hover .a-btn-symbol{
    opacity:0;
}
.a-btn:hover .a-btn-slide-icon{
    -webkit-animation:slideDown 0.9s linear infinite;
    -moz-animation:slideDown 0.9s linear infinite;
    animation:slideDown 0.9s linear infinite;
}
.a-btn:active{
    background:#c72c00;
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.a-btn:active .a-btn-text{
    color:#fff;
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}
.a-btn:active .a-btn-slide-text{
    color:rgba(0,0,0,0.4);
    text-shadow:none;
}
@keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-webkit-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-moz-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
/*END Form Wizard*/
input#upload-select {
    display: inline-block;
}
.uk-list .clearfix:before, .uk-list .clearfix:after {
    content: none!important;
    display: table!important;
}
.css-button {
  display: inline-block;
  background-color: #df0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.css-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.css-button span:after {
  font: normal normal normal 17px/1 FontAwesome;
  content: "\f101";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.css-button:hover span {
  padding-right: 25px;
}

.css-button:hover span:after {
  opacity: 1;
  right: 0;
}
.comment_avatar {
    float: left;
}
.comment_text {
    margin-left: 50px;
    padding: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: 5px 5px 10px #efefef;
    border-radius: 5px;
    font-style: italic;
    position: relative;
	background-color:#fff;
}
.comment_text:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -14px;
    top: 13px;
    border: 7px solid;
    border-color: transparent #e5e5e5 transparent transparent;
}
.comment_text:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -13px;
    top: 13px;
    border: 7px solid;
    border-color: transparent #fff transparent transparent;
}
.page-menu {
    border: 1px solid #e1e1e1;
    padding-bottom: 12px;
    background: #f1f1f1;
    font-size: 18px;
}
.page-menu ul li.parent-title h3  {
    font-size: 20px;
    color: #353535;
    text-transform: uppercase;
    margin: 0;
}
ul.section-submenu.current_menu_id_ {
    list-style-type: none;
	padding: 0;
}
li.level {
    border-top: 1px solid #e1e1e1;
    margin: 15px 0;
    padding-top: 15px;
	list-style: none;
}
li.level.first {
    border: none;
}
li.level a {
    color: #333;
}
li.level.active a {
    color: #c72c00;
}
li.comment.depth-1 {
    border-bottom: 1px solid #eee;padding: 10px 0;font-size: 13px;margin-top:0;
}
span.danhgia {
    color: #0283df;
    font-size: large;
    font-weight: 700;
}
span.diemdanhgia {
    margin: 5px auto;
    padding: 0 15px;
    border: 1px solid #88cbff;
    border-radius: 5px;
    color: #0283df;
    font-size: xx-large;
    font-weight: 700;
    width: 99px;
    background-color: #d0ebff;
    background: -moz-linear-gradient(center top,#f9fdff,#d0ebff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff', endColorstr='#d0ebff');
}
span.duatren {
    color: #0283df;
    font-size: small;
    font-weight: 700;
}
span.saodanhgia {
    float: right;
}
#kad-wp-gallery-hk .grid_item , div#kad-wp-gallery-hk,
#kad-wp-gallery-dh .grid_item , div#kad-wp-gallery-dh {
    display: inline-block!important;
}
#commentform input[type=radio] {
    display: none;
}
.comment, .comment .comment {
    margin-top: 0!important;
}
li.comment.depth-2 {
    border-left: 1px solid #e2e2e2;
    background-color: #fcfcfc;
    margin-bottom: 5px;
}
a.comment-reply-link:before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f112";
	margin-right: 5px;
}
.comment_date a:before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f073";
	margin-right: 5px;
}
.comment-author:before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0e5";
	margin-right: 5px;
}
li.comment.depth-1 div {
    display: inline-block;
}
li.comment p.comment-rating .shortcode-star-rating {
    padding: 0;
}
p.comment-form-comment {
    clear: both;
}
form#commentform {
    padding: 10px;
    background-color: #eee;
}
#commentform .form-submit {
    border-top: 1px solid #fff;
    padding-top: 10px;
    text-align: center;
}
.place-row {
    display: table-row;
}
.place-cell {
    display: table-cell;
    border-width: thin;
    padding: 5px;
    background-color: #e0e0e0;
    border: 1px solid #fff;
    vertical-align: middle;
}
table.option tr td, table.option tr th {
    padding: 5px;
}
.job_position_featured {
   position:relative;
}
.ribbon {
    position: absolute;
    left: 1px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(315deg);
   -webkit-transform: rotate(315deg); /* Needed for Safari */
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -4px;
}
.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}
@media only screen and (max-width: 767px) {
    .ribbon {
        display:none;
    }
}
span.placeholder {
    display: block;
    font-size: 11px;
    font-style: italic;
}
span.certificate {
    background-color: #79A70A;
    color: #fff;
    font-size: 9px;
    padding: 1px 5px 0px 3px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
span.certificate:before {
	font: normal normal normal 14px/1 FontAwesome;
    content: "\f058";
    margin-right: 5px;
	font-size: 11px;
}
ol  {
	  width: 100%;
	  list-style-type: none;
	  overflow: hidden;
	  padding-bottom: 5px;
	  padding-top: 3px;
}
.job-cat-arc ol {
	padding-left:0!important;
}

ol li.job_region_title {
  width: 25%;
  float: left;
  padding: 0 10px 5px 10px;
}

@media screen and (max-width: 1199px) {
	ol li.job_region_title {
	  width: 33%;
	  float: left;
	  padding: 0 10px 5px 10px;
}
}

@media screen and (max-width: 768px) {
	ol li.job_region_title {
	  width: 49%;
	  float: left;
	  padding: 0 10px 5px 10px;
}
}

@media screen and (max-width: 650px)  {
	ol li.job_region_title {
	  width: 49%;
	  float: left;
	  padding: 0 0 5px 0;
}
}
@media screen and (max-width: 480px)  {
	ol li.job_region_title {
	  width: 100%;
	  float: left;
	  padding: 0 0 5px 0;
}
}
@media screen and (max-width: 991px)  {
li.menu-tao-ho-so:after {display:none;}
}
.job_filters .search_jobs {
    background: #eee;
}
.job_filters {
    background: #fff!important;
}
.job_filters .showing_jobs {
	padding: 0!important;
    background: #fff!important;
    border-top: none!important;
}
.search_featured  label, .search_ktx  label {
    display: none;
}
div#by_featured, div #by_ktx, span.sort-by {
    display: inline-block;
}
.search_featured select, .search_ktx select{
	width: 100%;
	border: 1px solid #0283DF;
    border-left-color: #0283DF;
    border-top-color: #0283DF;
    background-color: #FFF;
    box-shadow: 0 1px 0 rgba(255,255,255,.8),inset 0 0 1px rgba(0,0,0,.2);
    border-radius: 0!important;
    height: 25px;
	
}

div#by_featured , div #by_ktx{
    margin-left: -5px;
}
span.sort-by {
    /*border: 1px solid #0283DF;*/
    padding: 1px 5px 2px 5px;
}
.ctv img, .kad_portfolio_link img, .portfolio-single img, .widgets-grid-layout .widget-grid-view-image img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.widgets-grid-layout .widget-grid-view-image img:hover {
    filter: none;
    filter: none;
    -webkit-filter: none;
	transition: background .6s ease-out;
    -webkit-transition: background .6s ease-out;
    -moz-transition: background .6s ease-out;
    -o-transition: background .6s ease-out;
}
.sf-menu a, .for-senpai {
    padding: 10px 15px!important;
}
.home-portfolio.home-margin.carousel_outerrim.home-padding {
    border-bottom: 1px solid #e2e2e2;
}
.tagcloud a {
    display: block;
	border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.kadence_recent_posts .recentpost_title {
    padding-top: 0!important;
}
.share-social .fb-share, .share-twitter, .google-plus, .fb-buttom-like {
    display: inline;
    float: left;
    line-height: 0;
}
.fb_iframe_widget {
    margin-right: 10px;
}
#topbar ul.ab-submenu {
  background: none repeat scroll 0 0 #272727;
  color: #999999;
  border:none;
  border-top: 1px #fff solid;
  min-width:250px;
  padding: 10px 15px;
  right: 0;
    left: auto;
}
#topbar ul.chevon.ab-submenu:before  {
	content: "";
	position: absolute;
	right: 24px;
	border-width: 8px 8px 0;
	border-style: solid;
	border-color: #fff transparent;
	width: 0;
	display: block;
	z-index: 9999;
	top: 0px;
	;
}

#topbar ul.chevon.ab-submenu:after  {
	content: "";
	position: absolute;
	right: 25px;
	border-width: 7px 7px 0;
	border-style: solid;
	border-color: #df0000 transparent;
	display: block;
	width: 0;
	z-index: 9999;
	top: -1px;
}

#topbar .ab-sub-wrapper {
}
#topbar ul.ab-submenu .avatar {
    float: left;
    margin-right: 5px;
}
#topbar ul.ab-submenu .content p {
	  margin: 5px 0;
}
p a.ab-item {
  /*margin-left: 75px;*/
}
#topbar ul li {border-bottom:none;}
#topbar ul li  a{text-align:left;color: #999999!}
.topclass {
    background: #df0000!important;
}
.widgets-list-layout-links {
    line-height: 16px;
    width: 80%!important;
}
.sidebar ul {
    margin: 0!important;
}
.sidebar .widget-inner .widgets-list-layout li {
    padding-bottom: 10px;
}
.topbar-widget span {
    margin-right: 10px;
}
.topbar-widget {
    margin-top: 10px;
}
.topbar-widget p {
    display: inline-block!important;
}
.contactform p.message, .form-caption p.message{
    padding: 5px;
    border: 1px solid #e6db55;
    background-color: #ffffe0;
    color: #333;
}
.image-cropper img {
    display: block;
    margin: 0 auto;
    height: auto;
    /* width: 150%; */
    /* margin: 0 0 0 -20%; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.truongvp-bg {
	background-color: #f9f9f9;
	margin-top:-30px;
}
.tophome-bg {
	background: url(../../img/ctvbg.jpg);
	min-height:400px;
}
.slash-bg {
	background: #fff;
	height:50px;
	/*border-image: -webkit-linear-gradient(left, rgb(139, 191, 64), rgb(230, 27, 33) 33%, rgb(124, 196, 236) 66%, rgb(254, 181, 17)) 1%;
    border-image-slice: 1;
    border-image-width: 2px 0px 0px 0px;*/
}
.container.chutich {
    margin-bottom: 50px;
}
.container.truongvp {
    padding: 50px 0 10px;
	text-align:center;
}